@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.woff") format("woff2"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style:normal;
    font-size: inherit;
    line-height: 1;
}



@font-face {
  font-family: "Flaticon1";
  src: url("../fonts/Flaticon1.ttf") format("truetype"),
       url("../fonts/Flaticon1.svg#Flaticon1") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon1";
    src: url("./Flaticon1.svg#Flaticon1") format("svg");
  }
}

[class^="flaticon1-"]:before, [class*=" flaticon1-"]:before,
[class^="flaticon1-"]:after, [class*=" flaticon1-"]:after {   
    font-family: Flaticon1;
    font-style:normal;
    font-size: inherit;
    line-height: 1;
}

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/quick_solve/Flaticon.eot");
  src: url("../fonts/quick_solve/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/quick_solve/Flaticon.woff2") format("woff2"),
       url("../fonts/quick_solve/Flaticon.woff") format("woff"),
       url("../fonts/quick_solve/Flaticon.ttf") format("truetype"),
       url("../fonts/quick_solve/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/quick_solve/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
}

.flaticon-money:before { content: "\f100"; }

.flaticon-email:before { content: "\f100"; }
.flaticon-location-pin:before { content: "\f101"; }
.flaticon-smile:before { content: "\f102"; }
.flaticon-calendar-with-spring-binder-and-date-blocks:before { content: "\f103"; }
.flaticon-trophy:before { content: "\f104"; }
.flaticon-phone-call:before { content: "\f105"; }
.flaticon-thumb-up:before { content: "\f106"; }
.flaticon-controls:before { content: "\f107"; }
.flaticon-megaphone:before { content: "\f108"; }
.flaticon-networking-group:before { content: "\f109"; }
.flaticon-main-user:before { content: "\f10a"; }
.flaticon-pc-monitor:before { content: "\f10b"; }
.flaticon-play-button:before { content: "\f10c"; }
.flaticon-edit:before { content: "\f10d"; }
.flaticon-website-design-symbol:before { content: "\f10e"; }
.flaticon-cloud-computing:before { content: "\f10f"; }
.flaticon-wordpress-logo:before { content: "\f110"; }
.flaticon-document:before { content: "\f27b"; } 

.flaticon1-name:before { content: "\???"; }