
.primary-blue{
	color:#00A0AD;
  position: relative;
}

body{
  background-color: black
}

canvas{
	background-color:black;
  width: 100%
}

@media(max-width:900px){
  canvas{
    display: none;
  }

  .black{
    background: black;
  }
}
#container {
  position: relative;
}
#overlay {
  position: absolute;
}

header .border{
  text-align: center;
  height: 92%;
  width: 96%;
  color: #fff;
  vertical-align: middle;
  position: absolute;
  z-index: 100; 
  border: 1px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .border .content{
  text-align: center;
  height: 70%;
  width: 80%;
  color: #fff;
  vertical-align: middle;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

h1 {
	font-family: Roboto;
	font-size: 6em;
	font-weight: lighter;
}

h3 {
	font-family: Nunito;
	font-size: 1.5em;
	word-spacing: 8px;
}

@media (max-width:650px){
	h1 {
		font-size: 3em;
	}

  .svg-wrapper:active #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #00A0AD;
    fill:rgba(255, 255, 255, .1)
  }

  .svg-wrapper:active #text a{
    color: #fff;
  }
}

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#icon{
    display:inline;
}


/*							 ------------BUTTON----------
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 5px;
  fill: solid;
  stroke: #666666;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -222;
  transition: 1s all ease;
}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text {
  margin-top: -30px;
  text-align: center;
}

#text a {
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  color: #a6a6a6;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray: 60 10;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #00A0AD;
	fill:rgba(255, 255, 255, .1)
}

.svg-wrapper:hover #text a{
	color: #fff;
}

