/*------------------------------------------------------------------
 * Theme Name: NOBIS - Multipurpose Responsive HTML Template
 * Author: Dazzlersoft
 * Description: A Bootstrap-3 Responsive  Template
 * Version: 1.0
 * Bootstrap  v3.3.7 (http://getbootstrap.com)
 * Copyright 2017 Dazzlersoft
 ------------------------------------------------------------------- */

/*------------------------------------------------------------------
    CSS INDEX
    ===================
    * Google Font
    * General Styles
    * preloader Css
    * header
    * main slider
    * about us
    * services
    * Portfolio
    * team
    * video-section
    * pricing
    * subscribe box
    * testimonial-theme-1
    * testimonial-theme-2
    * blog
    * partner
    * talk us
    * footer
    * banner styling
    * about-us page
    * pie chart
    * faq
    * member detail
    * nobis-pagination
    * widgets
    * blog-detail-page
    * portfolio detail page
    * map
    * contact us
    * page 404


/* --------------	Google Font------------- */

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Open+Sans:300,400,600,700");

/*--------------------------------------
   General Styles
---------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff;
  color: #666666;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}
h4 {
  font-size: 25px;
  text-transform: capitalize;
}
h5 {
  font-size: 18px;
  text-transform: capitalize;
  color: #1a1a1a;
}
img {
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  color: #00a0ad;
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
.mb-10 {
  margin-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-30 {
  margin-top: 30px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.center-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-custom {
  border-radius: 50px;
  text-transform: capitalize;
  line-height: 1;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.btn-custom:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -1;
}
.btn-custom:hover:after {
  left: 120%;
}

button,
button:focus {
  outline: 0;
}

.sp-100 {
  padding-bottom: 100px;
  padding-top: 100px;
}
.sp-70-100 {
  padding-top: 70px;
  padding-bottom: 100px;
}
section.bg-w {
  background-color: #fff;
}
section.bg-dull {
  background-color: #f0f5fd;
}

.all-title {
  text-align: center;
  overflow: hidden;
}

.sec-title {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  color: #1a1a1a;
  position: relative;
  padding: 0 25px;
  display: inline-block;
}
.white-title .sec-title {
  color: #fff;
}

.sec-title span::after {
  width: 40px;
  height: 2px;
  background-color: #00a0ad;
  left: -40px;
  top: 15px;
  position: absolute;
  content: "";
}
.sec-title::after {
  width: 70px;
  height: 2px;
  background-color: #00a0ad;
  left: -70px;
  top: 21px;
  position: absolute;
  content: "";
}
.sec-title span::before {
  width: 40px;
  height: 2px;
  background-color: #00a0ad;
  right: -40px;
  top: 15px;
  position: absolute;
  content: "";
}
.sec-title:before {
  width: 70px;
  height: 2px;
  background-color: #00a0ad;
  right: -70px;
  top: 21px;
  position: absolute;
  content: "";
}
.all-title p {
  max-width: 800px;
  margin: 20px auto 60px;
  color: #666666;
}
.white-title p {
  color: #fff;
}
.all-title .title-bot-30 {
  margin-bottom: 30px;
}
#c-scroll {
  display: none;
  position: fixed;
  line-height: 40px;
  text-align: center;
  background-color: #00a0ad;
  font-size: 20px;
  border-radius: 20px;
  -webkit-animation-delay: 0.95s;
  animation-delay: 0.95s;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: #fff;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  cursor: pointer;
}

/*==================
    preloader Css
  ==================*/

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.gif") no-repeat center center;
}

/*--------------------------------------
  header
---------------------------------------*/
.head-top {
  background-color: #00a0ad;
  padding: 10px 0;
}
.header-theme-3 .head-top {
  background-color: #000;
}
.header-theme-4 .head-top {
  background-color: #fff;
}
.head-top ul {
  display: inline-block;
  color: #fff;
  position: relative;
}
.header-theme-4 .head-top ul {
  color: #000;
}
.head-social li {
  display: inline-block;
  padding-top: 5px;
  padding-right: 15px;
}

.head-social li:last-child {
  border-right: 1px solid #fff;
}
.header-theme-4 .head-social li:last-child {
  border-right: 1px solid #000;
}
.head-social a {
  color: #fff;
  font-size: 18px;
}
.header-theme-4 .head-social a {
  color: #000;
}
.head-locate {
  margin-left: 10px;
}
.head-locate i {
  position: absolute;
  top: 2px;
  font-size: 18px;
  left: 0;
}
.head-locate p {
  padding-left: 30px;
}
.mail-con {
  float: right;
}
.mail-con li {
  display: inline-block;
  position: relative;
  text-align: right;
  border-right: 1px solid #fff;
  padding-right: 20px;
  margin-left: 20px;
}
.header-theme-4 .mail-con li {
  border-right: 1px solid #000;
}
.mail-con li:last-child {
  padding-right: 0;
  border-right: none;
}
.mail-con i {
  position: absolute;
  left: 0;
  top: 5px;
}
.mail-con p {
  padding-left: 30px;
}
.header-theme-2 .menu-header {
  padding: 0 10px;
}
.theme-header {
  background-color: #fff;
}
.header-theme-4 .theme-header {
  background-color: #000;
}

.logo > a {
  display: block;
  height: 80px;
  padding: 15px;
}

.call-us {
  float: right;
  margin: 32px 0;
  padding-left: 40px;
  border-left: 1px solid #ccc;
  margin-left: 40px;
}
.main-menu {
  text-align: right;
}
.menu-wrap {
  position: relative;
}
.mega-menu-nav {
  position: static;
}
.menu-wrap > .menu-item {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}
.menu-item > .menu-link {
  padding: 30px 0;
}
.menu-link {
  display: block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #1a1a1a;
  font-weight: 600;
}
.header-theme-4 .menu-link {
  color: #fff;
}

.header-theme-4 .menu-link:hover {
  color: #fff;
}
.menu-link:hover,
.dropdown > .menu-item > .menu-link:hover,
.menu-item > .menu-link:hover {
  color: #56e0ff;
}
.has-drop::after {
  font-family: "FontAwesome";
  content: "\f107";
  position: relative;
  margin-left: 3px;
}
.dropdown .has-drop::after {
  position: absolute;
  right: 20px;
}
.dropdown .menu-item {
  display: block;
  position: relative;
}
.dropdown > .menu-item > .menu-link {
  padding: 15px 20px 12px;
  text-transform: capitalize;
  border-bottom: 1px solid #d7d7d7;
  color: #1a1a1a;
}
.mega-items .menu-link {
  padding: 15px 20px;
  text-transform: capitalize;
  color: #1a1a1a;
}

.dropdown > .menu-item:last-child > .menu-link {
  border-bottom: none;
}
.call-us p {
  color: #1a1a1a;
  font-weight: 600;
}
.call-us i {
  color: #00a0ad;
  font-weight: 500;
  margin-right: 10px;
}
.dropdown {
  position: absolute;
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
  min-width: 190px;
  width: auto;
  z-index: 3;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  border-top: 2px solid #00a0ad;
  text-align: left;
}
.dropdown .dropdown {
  left: -100%;
  top: -2px;
}
.menu-item:hover > .dropdown {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
}
.mega-menu {
  right: 0;
  width: 100%;
  max-width: 800px;
}
.mega-items h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #00a0ad;
  border-bottom: 1px solid #ebebeb;
  padding: 2px 20px 13px;
  display: none;
}
.menu-2 .mega-menu {
  right: 0;
}
.mega-items {
  float: left;
  width: 25%;
  padding: 15px 0;
  border-right: 1px solid #ebebeb;
}
.mega-items:last-child {
  border-right: 0;
}

.slicknav_menu {
  display: none;
  background: #fff;
  padding: 16px 20px;
  text-align: left;
}
.slicknav_brand {
  float: left;
  line-height: inherit;
  max-width: 190px;
  padding: 7px 0;
  height: auto;
}
.slicknav_btn {
  margin: 14px 0;
  background-color: #1a1a1a;
  padding: 8px 9px 7px;
}
.slicknav_nav {
  background-color: #0e0202;
  overflow: auto;
  max-height: 350px;
  padding: 20px 10px;
}
.slicknav_nav ul {
  margin: 0;
}
.slicknav_nav a,
.slicknav_nav .slicknav_row,
.slicknav_nav a {
  padding: 10px;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slicknav_parent ul {
  padding-left: 25px;
}
.slicknav_parent ul a {
  font-size: 14px;
  text-transform: capitalize;
  border-bottom: 0;
  font-weight: 500;
}
.slicknav_nav a:hover a,
.slicknav_nav a:hover,
.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_item a:hover,
.slicknav_nav .slicknav_parent-link a:hover {
  background-color: transparent;
  color: #00a0ad;
}
.slicknav_nav a h3 {
  font-size: 14px;
  display: inline;
  text-transform: capitalize;
  font-weight: 500;
}
.slicknav_menu li p {
  display: none;
}
.sticky-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  z-index: 99;
  background-color: #fff;
  -webkit-animation: slideInDown;
  animation: slideInDown;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.4);
}

/*--------------------------------------
  main slider
---------------------------------------*/
.main-slider,
.slide-item {
  position: relative;
}

.slider-tabs {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  left: 0;
}
.top-tabs {
  padding: 30px 0 25px;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.6);
  float: left;
  border-right: 1px solid #414040;
  color: #fff;
  text-align: center;
  font-size: 25px;
  text-transform: capitalize;
}
.top-tabs i {
  font-size: 45px;
  margin-right: 15px;
  vertical-align: middle;
}
.slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.65);
}

.corp-slider .slide-item img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.slide-table {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;
}

.slide-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.slide-content {
  text-align: center;
  overflow: hidden;
  color: #fff;
}

.slide-content h2 {
  font-size: 60px;
  font-weight: 600;
  max-width: 600px;
  margin: 0 auto 30px;
  text-transform: capitalize;
}
.theme-2 .slide-content h2 {
  max-width: 100%;
}
.corp-slider .active .slide-content h2 {
  -webkit-animation: 1s 0.2s zoomIn both;
  animation: 1s 0.2s zoomIn both;
}
.corp-slider .active .slide-content p {
  -webkit-animation: 1s 0.3s zoomInRight both;
  animation: 1s 0.3s zoomInRight both;
}
.slide-content p {
  max-width: 600px;
  font-size: 18px;
  margin: 0 auto 40px;
}

.slide-content .btn-custom {
  border: 2px solid #fff;
  margin: 10px;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  padding: 16px 0 15px;
  min-width: 200px;
}
.corp-slider .active .btn-custom {
  -webkit-animation: 1s 0.4s slideInUp both;
  animation: 1s 0.4s slideInUp both;
}
.slide-content .btn-custom:hover,
.slide-content .btn-custom:hover {
  background-color: #00a0ad;
  border-color: #56e0ff;
}

.corp-slider.owl-theme .owl-dots {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
}
.theme-1.owl-theme .owl-dots {
  display: none;
  bottom: 120px;
  width: 100%;
  top: auto;
  right: auto;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}
.theme-1.owl-theme .owl-dots .owl-dot {
  display: inline-block;
}
.corp-slider .owl-dots .owl-dot {
  display: block;
  margin: 20px 5px;
}
.corp-slider .owl-dots .owl-dot span {
  border-radius: 0;
  height: 7px;
  width: 7px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #fff;
}
.corp-slider .owl-dots .owl-dot.active span,
.corp-slider .owl-dots .owl-dot:hover span {
  height: 12px;
  width: 12px;
  background-color: transparent;
  margin-left: 4px;
}

/*--------------------------------------
 about us
---------------------------------------*/
.about-us,
.about-theme-1,
.about-theme-2 {
  position: relative;
  background-image: url(../Background1Agile.png);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}
.about-theme-1 {
  padding-bottom: 70px;
}
.abt-mockup {
  position: relative;
  height: 330px;
  background-image: url(../img/home/abt-2-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
.abt-mockup img {
  -webkit-box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.mock-1 {
  position: absolute;
  z-index: 2;
  top: 0;
}
.mock-2 {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
}
.mock-3 {
  text-align: right;
}
.abt-info p {
  margin-bottom: 20px;
}
.detail-box {
  position: absolute;
  max-width: 340px;
  top: 17px;
  background-color: #fff;
  padding: 5px 20px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
}

.detail-box li {
  padding: 15px 0;
  position: relative;
  display: table;
}
.detail-box h5 {
  color: #1a1a1a;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.detail-box i {
  font-size: 30px;
  color: #1a1a1a;
  display: table-cell;
  vertical-align: middle;
  left: 0;
  font-weight: 500;
  line-height: 1;
  width: 45px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.detail-box li:hover h5,
.detail-box li:hover i {
  color: #0c65ed;
}
.detail-content {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}
.abt-info .btn-custom {
  background-color: #0c65ed;
  padding: 11px 28px 8px;
  color: #fff;
  border: 1px solid #0c65ed;
  margin-top: 5px;
}

.counter-theme-2 {
  background-color: #f0f5fd;
  padding: 70px 0;
}
.counter-wrap {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 210px;
}
.c-icon {
  vertical-align: middle;
  display: table-cell;
  height: 65px;
  width: 65px;
  box-shadow: 0px 0px 50px 0px rgba(67, 67, 67, 0.25);
  -webkit-box-shadow: 0px 0px 50px 0px rgba(67, 67, 67, 0.25);
  color: #00a0ad;
  font-size: 40px;
  padding-top: 9px;
  text-align: center;
  border-radius: 5px;
  margin-right: 25px;
  background-color: #fff;
}

.count-outer {
  vertical-align: middle;
  display: table-cell;
  padding-left: 25px;
  text-transform: capitalize;
}
.counter-wrap h4 {
  color: #1a1a1a;
}

/*--------------------------------------
 services
---------------------------------------*/
.services {
  background-color: #f0f5fd;
}
.service-theme-2 {
  position: relative;
  background-image: url("../img/home/service-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.service-theme-2::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.9;
  z-index: -1;
}
.service-col {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.service-theme-2 .service-col {
  background: transparent;
  border: 1px solid #6a6968;
}
.service-col::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #000;
  opacity: 0.85;
  width: 100%;
  height: 100%;
}
.service-theme-2 .service-col::after {
  background-color: transparent;
}
.service-col:hover::after {
  background-color: #333333;
}
.service-theme-2 .service-col:hover::after {
  background-color: #fff;
  opacity: 1;
}
.service-theme-2 .service-col:hover h4,
.service-theme-2 .service-col:hover p {
  color: #333333;
}
.service-wrap {
  padding: 70px 20px;
  text-align: center;
  color: #fff;
}
.service-wrap i {
  font-size: 50px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.service-col:hover i,
.service-col:hover .serv-head {
  opacity: 0;
}
.service-wrap .serv-head {
  margin-top: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ser-overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.service-col:hover .ser-overlay {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.ser-overlay p {
  padding: 13px 0 16px;
}
.ser-overlay .btn-custom {
  background-color: #0c65ed;
  padding: 12px 30px 10px;
  background-color: #fff;
  color: #00a0ad;
}
.ser-overlay .btn-custom::after {
  background-color: #00a0ad;
}
.service-theme-2 .btn-custom::after {
  background-color: #00a0ad;
}
.service-theme-2 .ser-overlay .btn-custom {
  border: 1px solid #0c65ed;
  color: #fff;
  background-color: #0c65ed;
}

/*--------------------------------------
 Portfolio
---------------------------------------*/
.portfolio {
  position: relative;
  background-image: url(../img/sky.png);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}
.sorting {
  margin-bottom: 15px;
}
.filter-btn {
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 15px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
}
.filter-btn span {
  padding: 0 20px;
  font-weight: 600;
}
.filter-btn.active,
.filter-btn:hover {
  color: #56e0ff;
}
.port-item {
  margin-top: 30px;
}

.proj-content {
  padding: 15px 30px 11px;
  -webkit-box-shadow: 0 0 15px 0 rgba(67, 67, 67, 0.3);
  box-shadow: 0 0 15px 0 rgba(67, 67, 67, 0.3);
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.port-theme-2 .proj-content {
  background-color: rgba(12, 101, 237, 0.8);
  width: auto;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}
.port-theme-2 .project:hover .proj-content {
  opacity: 1;
  background-color: #00a0ad;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.port-item:hover .proj-content {
  background-color: #00a0ad;
  color: #fff;
}
.port-item:hover .proj-content h4,
.port-item:hover .proj-content h5,
.port-item:hover .proj-content a {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.port-theme-2 .proj-content h4,
.port-theme-2 .proj-content h5,
.port-theme-2 .proj-content a {
  color: #fff;
}
.project {
  position: relative;
}
.proj-content h4 {
  font-size: 14px;
  color: #1a1a1a;
  text-transform: capitalize;
  padding-bottom: 10px;
  font-weight: 400;
}
.proj-content h5 {
  font-size: 18px;
  color: #0c65ed;
  text-transform: capitalize;
}
.proj-img {
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.proj-img img {
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.port-item:hover .proj-img {
  -webkit-box-shadow: 0 0 15px 0 rgba(67, 67, 67, 0.5);
  box-shadow: 0 0 15px 0 rgba(67, 67, 67, 0.5);
}

.pop-btn {
  font-size: 40px;
  line-height: 1;
  font-weight: 300;
  color: #1a1a1a;
}

/*--------------------------------------
 team
---------------------------------------*/
.team {
  background-color: #f0f5fd;
}

.team-slider .owl-item img {
  width: auto;
  margin: 0 auto;
}
.members {
  position: relative;
  text-align: center;
  z-index: 2;
}
.team-det {
  position: relative;
  background-color: #fff;
  z-index: 1;
  border-radius: 5px;
  padding: 22px 15px 8px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
}
.team-det h5 a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.team-theme-2 .team-det {
  position: absolute;
  bottom: 0;
  padding: 22px 30px 8px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  z-index: 0;
  -webkit-transform: translateY(125px);
  -ms-transform: translateY(125px);
  transform: translateY(125px);
}
.team-theme-2 .members {
  margin-top: 30px;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}
.team-theme-2 .members:hover .team-det {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.team-theme-2 .members::after {
  width: 84%;
  left: 8%;
  position: absolute;
  content: "";
  bottom: 0;
  height: 2px;
  background-color: #1a1a1a;
  z-index: 0;
}
.team-theme-2 .members:hover::after {
  display: none;
}
.team-theme-1 .members::before {
  background-color: #0c65ed;
  position: absolute;
  content: "";
  width: 84%;
  left: 8%;
  height: 0;
  bottom: 125px;
  border-radius: 5px 5px 0 0;
  z-index: -1;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.members:hover::before {
  height: 60%;
}
.team-det h6 {
  color: #0c65ed;
  margin-top: 10px;
  margin-bottom: 13px;
  text-transform: capitalize;
  font-size: 14px;
}
.team-det a:hover {
  color: #0c65ed;
}
.team-theme-2 .team-det p {
  margin-bottom: 50px;
  opacity: 0;
}
.team-theme-2 .members:hover p {
  opacity: 1;
}
.team-soc {
  background-color: #0c65ed;
  padding: 6px 15px 3px;
  border-radius: 0 0 5px 5px;
  color: #fff;
  margin: 0 auto;
  width: 84%;
  -webkit-transform: translateY(-62px);
  -ms-transform: translateY(-62px);
  transform: translateY(-62px);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
  opacity: 0;
}
.team-theme-2 .team-soc {
  -webkit-transform: translateY(62px);
  -ms-transform: translateY(62px);
  transform: translateY(62px);
  border-radius: 5px 5px 0 0;
}
.team-soc a {
  padding: 5px 10px;
  font-size: 14px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.team-soc a:hover {
  color: #000;
}
.members:hover .team-soc {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.team-slider .owl-nav {
  margin-top: 55px;
}
.team-slider .owl-nav .owl-next,
.team-slider .owl-nav .owl-prev {
  width: 40px;
  padding: 5px 0 2px;
  background-color: #0c65ed;
  margin: 0 7px;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.team-slider .owl-nav .owl-next:hover,
.team-slider .owl-nav .owl-prev:hover {
  background-color: #1a1a1a;
}
.team-slider .owl-nav .owl-prev {
  border-radius: 50px 0 0 50px;
}
.team-slider .owl-nav .owl-next {
  border-radius: 0 50px 50px 0;
}

/*--------------------------------------
 video-section
---------------------------------------*/
.video-section {
  background-image: url(../img/home/video-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.vid-play {
  position: relative;
  height: 500px;
}
.vid-btn {
  position: absolute;
  z-index: 0;
  top: 40%;
  background-color: #fff;
  border-radius: 50%;
  width: 82px;
  height: 82px;
  text-align: center;
  -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
  -webkit-animation: inout 1s infinite;
  animation: inout 1s infinite;
}

@-webkit-keyframes inout {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes inout {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.vid-btn i {
  color: #1a1a1a;
  font-size: 65px;
  margin-top: 3px;
  display: block;
}
.support-box {
  padding: 60px 25px;
  background-color: rgba(26, 26, 26, 0.9);
  -webkit-box-shadow: -7.829px 11.607px 32px 0 rgba(0, 0, 0, 0.66);
  box-shadow: -7.829px 11.607px 32px 0 rgba(0, 0, 0, 0.66);
  color: #fff;
  border-radius: 5px;
}
.support-box h4,
.support-box p {
  padding-bottom: 22px;
}
.gal-img {
  display: inline-block;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}
.gal-img img {
  width: 100%;
}
.support-box .btn-custom {
  background-color: #fff;
  color: #0c65ed;
  padding: 10px 26px 8px;
  margin-top: 25px;
}
.support-box .btn-custom:after {
  background-color: #0c65ed;
}

/*--------------------------------------
 pricing
---------------------------------------*/
.price .nav-pills {
  font-size: 0;
  display: inline-block;
  border-radius: 150px;
  overflow: hidden;
  border: 1px solid #0c65ed;
  margin-bottom: 30px;
}

.price .nav-pills li {
  float: none;
  font-size: 18px;
  display: inline-block;
  margin: 0;
  text-transform: capitalize;
  color: #0c65ed;
  font-weight: 600;
}
.price .nav-pills li a {
  padding: 16px 60px;
  display: block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0;
}
.price .nav-pills li.active,
.price .nav-pills li.active,
.price .nav-pills li.active {
  background-color: #0c65ed;
  color: #1a1a1a;
}

.price .nav-pills li.active a,
.price .nav-pills li.active a:focus,
.price .nav-pills li.active a:hover {
  background-color: inherit;
}
.price-item {
  width: calc(100% / 3);
  float: left;
  padding: 30px 45px;
  border: 1px solid #eaeaea;
  margin-top: 30px;
  border-radius: 5px;
}
.price-item.active {
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
  border: 0;
}
.price-item h2 {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
  text-transform: capitalize;
  color: #1a1a1a;
  margin-bottom: 30px;
}
.price-item h2::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 1px;
  background-color: #0c65ed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.price-item h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}
.price-item h3 span {
  color: #0c65ed;
}
.pack-info {
  margin: 30px 0;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}
.pack-info li {
  padding: 30px 0;
  border-bottom: 1px solid #eaeaea;
}
.pack-info li:last-child {
  border-bottom: 0;
}
.pack-info h4 {
  font-size: 18px;
  color: #333333;
  margin-bottom: 5px;
}
.pack-info h4 i {
  color: #0c65ed;
}
.price-item .btn-custom {
  font-size: 14px;
  background-color: #0c65ed;
  color: #fff;
  padding: 21px 40px 16px;
  text-transform: uppercase;
}
.price-item.active .btn-custom {
  background-color: #fff;
  color: #0c65ed;
  border: 1px solid #0c65ed;
}
.price-item.active .btn-custom:after {
  background-color: #0c65ed;
}

/*--------------------------------------
 subscribe box
---------------------------------------*/

.subscribe-box {
  background-image: url(../img/home/subs-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  padding: 70px 0;
}
.subscribe-box::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.9;
  z-index: -1;
}
.subscribe-title {
  font-size: 40px;
  color: #fff;
  font-weight: 400;
}
.subscribe-title i {
  font-size: 55px;
  margin-right: 5px;
  vertical-align: middle;
}
.form-subscribe {
  position: relative;
  padding-right: 170px;
  margin-top: 10px;
}
.form-subscribe .form-control {
  padding: 12px 20px;
  border: 0;
  height: 43px;
}
.form-control::-moz-placeholder {
  color: #00a0ad;
}
.form-control:-ms-input-placeholder {
  color: #00a0ad;
}
.form-control::-webkit-input-placeholder {
  color: #00a0ad;
}

.form-subscribe .btn-custom {
  background-color: #00a0ad;
  color: #fff;
  padding: 13px 35px 11px;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
}

/*--------------------------------------
 testimonial-theme-1
---------------------------------------*/
.testimonial {
  background-image: url(../img/home/testi-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}
.testi-blue {
  background-image: url(../img/home/testi-bg-blue.jpg);
}
.slick-slide {
  outline: 0;
}
.slick-thumbnail-slider .slick-thumb {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slick-thumbnail-slider .slick-slide img {
  margin: 0 auto;
  border-radius: 7px;
}
.slick-thumbnail-slider .slick-slide:not(.slick-center) {
  z-index: 0;
  opacity: 0.5;
  -webkit-transform: scale(0.55);
  -ms-transform: scale(0.55);
  transform: scale(0.55);
}
.slick-thumbnail-slider .slick-active + .slick-active + .slick-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.slick-thumbnail-slider .slick-active + .slick-active,
.slick-thumbnail-slider
  .slick-active
  + .slick-active
  + .slick-active
  + .slick-active {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
.slick-thumbnail-slider .slick-active,
.slick-thumbnail-slider
  .slick-active
  + .slick-active
  + .slick-active
  + .slick-active
  + .slick-active {
  -webkit-transform: scale(0.55);
  -ms-transform: scale(0.55);
  transform: scale(0.55);
}
.client-detail h4 {
  font-size: 18px;
  color: #1a1a1a;
  margin: 20px 0 10px;
  text-transform: capitalize;
}
.client-detail h5 {
  font-size: 14px;
  color: #0c65ed;
  padding-bottom: 20px;
  position: relative;
}
.slick-thumbnail-slider .slick-center .client-detail h5::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 5px;
  background-color: #0c65ed;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
}
.client-detail h5,
.client-detail h4 {
  opacity: 0;
  display: none;
}
.slick-thumbnail-slider .slick-center .client-detail h5,
.slick-thumbnail-slider .slick-center .client-detail h4 {
  opacity: 1;
  display: block;
}
.testimonial-content {
  padding: 30px 0 80px;
  border-top: 1px solid #b7b7b7;
}
.testimonial-content p {
  max-width: 600px;
  margin: 0 auto;
  cursor: ew-resize;
}
.testimonial-content .slick-prev,
.testimonial-content .slick-next {
  width: 40px;
  height: 27px;
  padding: 6px 0 2px;
  background-color: #0c65ed;
  margin: 0 7px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
  bottom: 0;
  top: auto;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.testimonial-content .slick-prev:focus,
.testimonial-content .slick-next:focus {
  background-color: #0c65ed;
}
.testimonial-content .slick-prev:hover,
.testimonial-content .slick-next:hover {
  color: #fff;
  outline: none;
  background: #1a1a1a;
}
.testimonial-content .slick-prev {
  border-radius: 50px 0 0 50px;
  left: 49%;
  -webkit-transform: translateX(-45px);
  -ms-transform: translateX(-45px);
  transform: translateX(-45px);
}
.testimonial-content .slick-next {
  border-radius: 0 50px 50px 0;
  right: 49%;
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
}
.testimonial-content .slick-prev:before,
.testimonial-content .slick-next:before {
  font-family: FontAwesome;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: inherit;
  font-size: 25px;
  opacity: 1;
  display: block;
  padding-top: 8px;
  font-size: 15px;
}
.testimonial-content .slick-prev:before {
  content: "\f177";
}
.testimonial-content .slick-next:before {
  content: "\f178";
}

/*--------------------------------------
 testimonial-theme-2
---------------------------------------*/
.owl-carousel .client-img {
  width: 124px;
  display: table-cell;
  vertical-align: middle;
}
.owl-carousel .client-img img {
  width: auto;
  border-radius: 5px;
}
.client-item {
  position: relative;
  padding: 25px 20px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  background-color: #fff;
}
.client2-detail {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: 18px;
}

.client2-detail h4 {
  font-size: 18px;
  color: #1a1a1a;
  text-transform: capitalize;
  padding-bottom: 10px;
}
.client2-detail h5 {
  font-size: 14px;
  color: #0c65ed;
  padding-bottom: 8px;
  font-weight: 500;
}

.testimonial-theme-2 .owl-nav {
  margin-top: 55px;
}
.testimonial-theme-2 .owl-nav .owl-next,
.testimonial-theme-2 .owl-nav .owl-prev {
  width: 40px;
  padding: 5px 0 2px;
  background-color: #0c65ed;
  margin: 0 7px;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.testimonial-theme-2 .owl-nav .owl-next:hover,
.testimonial-theme-2 .owl-nav .owl-prev:hover {
  background-color: #1a1a1a;
}
.testimonial-theme-2 .owl-nav .owl-prev {
  border-radius: 50px 0 0 50px;
}
.testimonial-theme-2 .owl-nav .owl-next {
  border-radius: 0 50px 50px 0;
}
.partner-grid {
  border: 1px solid #959595;
  border-radius: 5px;
  position: relative;
  min-height: 120px;
  margin-top: 20px;
}
.partner-grid img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*--------------------------------------
 blog
---------------------------------------*/
.blog {
  background-color: #f0f5fd;
}
.blog-items {
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.blog-items iframe {
  width: 100%;
  height: 250px;
  border: 0;
}
.blog-img img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
}
.blog-items:hover .blog-img img {
  -webkit-transform: scale(1.1) rotate(-25deg);
  -ms-transform: scale(1.1) rotate(-2deg);
  transform: scale(1.1) rotate(-2deg);
}
.blog-content {
  background-color: #fff;
  position: relative;
  padding-left: 60px;
  padding-right: 16px;
  padding-bottom: 20px;
}
.blog-content h5 {
  line-height: 25px;
  padding-top: 20px;
}
.blog-content h5 a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog-content h5:hover a {
  color: #0c65ed;
}

.blog-social {
  color: #fff;
  text-align: center;
  position: absolute;
  width: 45px;
  height: 100%;
  background-color: #1a1a1a;
  padding: 20px 0;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog-items:hover .blog-social {
  background-color: #0c65ed;
}
.blog-social a {
  display: block;
  padding: 9px 0;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog-social a:hover {
  opacity: 0.7;
}
.blog-meta {
  padding: 15px 0 13px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
  position: relative;
}
.blog-meta::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  background-color: #0c65ed;
  height: 2px;
  width: 85px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.blog-items:hover .blog-meta::after {
  width: 100%;
}
.blog-meta a {
  color: #858585;
  font-size: 12px;
  padding: 0 10px 0 15px;
  text-transform: capitalize;
  border-right: 1px solid #858585;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}
.blog-meta a i {
  margin-right: 5px;
}
.blog-meta a:first-child {
  padding-left: 0;
}
.blog-meta a:last-child {
  border-right: 0;
}
.blog-meta a:hover {
  color: #0c65ed;
}
.btn-blog {
  color: #1a1a1a;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 20px;
  padding: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-blog:hover i {
  padding-left: 15px;
}
.btn-blog i {
  font-size: 18px;
  position: absolute;
  padding-left: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog-slider img {
  width: 100%;
}
.blog-slide-controls {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 100%;
  text-align: right;
}
.blog-slider .carousel-control {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  width: 40px;
  height: 28px;
  font-size: 15px;
  color: #1a1a1a;
  text-align: center;
  text-shadow: none;
  background-color: #fff;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 5px;
  padding-top: 6px;
}
.blog-slider .carousel-control.left,
.blog-slider .carousel-control.right {
  background: none;
  background-color: #fff;
}
.blog-slider .carousel-control.left {
  border-radius: 20px 0 0 20px;
}
.blog-slider .carousel-control.right {
  border-radius: 0 20px 20px 0;
}
.blog-slider .carousel-control:focus,
.blog-slider .carousel-control:hover {
  text-decoration: none;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}
.blog-slider .carousel-control:hover {
  background-color: #1a1a1a;
  color: #fff;
}

/*--------------------------------------
 partner
---------------------------------------*/
.partner {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.partner .all-title {
  text-align: left;
}
.partner .sec-title {
  padding-left: 0;
  margin-bottom: 40px;
}
.partner .sec-title span::after,
.partner .sec-title::after {
  display: none;
}
.partner-img {
  position: absolute;
  bottom: 0;
}
.partner-img img {
  -webkit-filter: drop-shadow(-11px 0 7px rgba(140, 140, 140, 0.4));
  filter: drop-shadow(-11px 0 7px rgba(140, 140, 140, 0.4));
}
.partner-slide {
  height: 190px;
  border: 1px solid #959595;
  border-radius: 5px;
}
.partner-slider .owl-item img {
  width: auto;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.partner-slider .owl-dots {
  text-align: right;
}
.partner-slider .owl-dots .owl-dot span {
  border-radius: 3px;
  background-color: #959595;
}
.partner-slider .owl-dots .owl-dot.active span {
  background-color: #0c65ed;
}
.partner-slider .owl-nav.disabled + .owl-dots {
  margin-top: 20px;
}

/*--------------------------------------
 talk us
---------------------------------------*/
.talk-us {
  background-color: #008080;
  padding: 53px 0;
  background-image: url(../img/home/talk.png);
  background-repeat: no-repeat;
  background-position: 15% center;
  background-size: contain;
}
.talk-us h4 {
  color: #fff;
  display: inline-block;
  margin-top: 10px;
}
.talk-us .btn-custom {
  float: right;
  font-size: 18px;
  background-color: #fff;
  color: #008080;
  padding: 13px 38px 10px;
}
.talk-us .btn-custom::after {
  background-color: #008080;
}

/*--------------------------------------
 footer
---------------------------------------*/
.foot-bottom,
.foot-top {
  background-color: #333333;
  color: #fff;
}
.foot-bottom {
  text-align: center;
}
.foot-logo {
  padding-bottom: 45px;
}
.foot-top {
  padding: 100px 0 70px;
}
.foot-title {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 15px;
  margin-bottom: 30px;
  text-transform: capitalize;
  position: relative;
}
.foot-title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  background-color: #00a0ad;
}
.quick-link li:last-child {
  padding-bottom: 0;
}

.quick-link li {
  padding-bottom: 23px;
}
.quick-link li a {
  position: relative;
  padding-left: 30px;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.quick-link li a:after {
  font-size: 12px;
  content: "\f068";
  font-family: "FontAwesome";
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1;
}
.quick-link li a:hover {
  padding-left: 40px;
  color: #56e0ff;
}

.address li {
  position: relative;
  padding-left: 30px;
  margin: 18px 0;
}
.address i {
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 18px;
}
.foot-bottom {
  padding: 26px 0;
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
}
.foot-bottom a {
  color: #0c65ed;
  font-weight: 600;
}
.foot-social {
  margin-top: 25px;
}
.foot-social li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 18px;
  text-align: center;
  padding-top: 5px;
  color: #1a1a1a;
  margin: 5px 0;
  margin-right: 15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.foot-social li:hover {
  background-color: #333333;
  color: #fff;
}
.news-post {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #464646;
}
.news-post:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.news-post .thumb {
  width: 80px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 3px;
  overflow: hidden;
}
.news-content {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
}
.news-content a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news-content a:hover {
  opacity: 0.7;
}
.news-content p {
  color: #c6c6c6;
  font-size: 13px;
}
.news-content p i {
  margin-right: 4px;
}

.insta-feed .clearfix {
  display: flex;
  flex-wrap: wrap;
}
.feed {
  flex: 1 0 auto;
  width: calc((100% - 30px) / 3);
  margin: 5px;
}

.feed img {
  width: 100%;
}


/*--------------------------------------
 banner
---------------------------------------*/
.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  z-index: 0;
}
.banner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.banner-heading {
  padding: 140px 0 115px;
}
.banner-heading h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
}
.banner-link {
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.banner-link li {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.banner li a,
.banner-link li span {
  color: #fff;
  padding: 0 15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.banner-link li i {
  font-weight: 300;
  font-size: 12px;
  vertical-align: middle;
  margin-top: -4px;
  color: #fff;
}
.banner-link li .active {
  color: #a1a1a1;
}

/*--------------------------------------
 about-us page
---------------------------------------*/
.features {
  margin-top: 70px;
}
.features-box i {
  color: #00a0ad;
  font-size: 40px;
  display: block;
  font-weight: 500;
  line-height: 1;
}
.features-box h5 {
  margin-top: 16px;
  margin-bottom: 20px;
}
.features-box {
  margin-top: 30px;
  text-align: center;
}
.strength {
  background-color: #f0f5fd;
}
.content-list p {
  padding-top: 20px;
}
.content-list i {
  padding-right: 8px;
}

/*--------------------------------------
 pie chart
---------------------------------------*/
.pie-chart {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.strength-content {
  margin-top: 30px;
}
.chart {
  position: relative;
  display: inline-block;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percentage {
  height: 80px;
  width: 80px;
  background: #fff;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 200px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #00a0ad;
}
.percentage span {
  font-size: 18px;
  color: #1a1a1a;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 200px;
}
.percentage span::after {
  content: "%";
}
.chart-name {
  color: #1a1a1a;
  font-size: 14px;
  margin-top: 10px;
  text-transform: capitalize;
}

/*--------------------------------------
 gallery
---------------------------------------*/
.gallery-item {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.gallery-item img {
  border-radius: 10px;
  width: 100%;
}
.gallery-overlay {
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
  right: 10px;
  background-color: rgba(12, 101, 237, 0.8);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scaleX(0.5) rotate(40deg);
  -ms-transform: scaleX(0.5) rotate(40deg);
  transform: scaleX(0.5) rotate(40deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.gallery-overlay a {
  color: #fff;
  font-size: 35px;
}
.gallery-item:hover .gallery-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleX(1) rotate(0);
  -ms-transform: scaleX(1) rotate(0);
  transform: scaleX(1) rotate(0);
}

/*--------------------------------------
 faq
---------------------------------------*/

.panel {
  position: relative;
  margin-top: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}
.panel .panel-link {
  position: relative;
  display: block;
  background-color: #00a0ad;
  color: #fff;
  padding: 17px;
  padding-left: 60px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px 5px 0 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.panel .collapsed {
  background-color: #f0f5fd;
  color: #1a1a1a;
}
.acc-content {
  padding: 30px 60px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0 0 5px 5px;
}

.panel-link.collapsed::after {
  color: #00a0ad;
  content: "\f067";
}
.panel-link::after {
  position: absolute;
  content: "\f068";
  font-family: "fontAwesome";
  color: #ffffff;
  left: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 400;
}

/*--------------------------------------
 member detail
---------------------------------------*/
.m-detail-img {
  text-align: center;
  border-bottom: 4px solid #00a0ad;
}
.member-detail h3 {
  font-size: 30px;
  color: #00a0ad;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.member-detail li {
  position: relative;
  margin-bottom: 17px;
}
.member-detail li span {
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  left: 0;
  position: absolute;
}
.member-detail li p {
  padding-left: 140px;
}
.mem-socials {
  text-align: center;
  margin-top: 10px;
}
.mem-socials a {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  color: #1a1a1a;
  padding-top: 7px;
  border-radius: 3px;
  border: 1px solid #1a1a1a;
  margin: 10px 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mem-socials a:hover {
  background-color: #1a1a1a;
  color: #fff;
}
.mem-skills {
  margin-top: 50px;
}
.skills-bar {
  margin-top: 20px;
  padding-bottom: 25px;
}
.skills-bar h6 {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}
.skill-prog {
  background-color: #d7d7d7;
  height: 4px;
  width: 100%;
}
.skill-fill {
  background-color: #00a0ad;
  position: relative;
  height: 4px;
  -webkit-animation: prog 2s linear;
  animation: prog 2s linear;
}
.skill-fill::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 1px;
  right: 0;
  background-color: #0c65ed;
}
@-webkit-keyframes prog {
  0% {
    width: 0;
  }
}
@keyframes prog {
  0% {
    width: 0;
  }
}
.skill-fill span {
  position: absolute;
  right: -11px;
  padding-top: 10px;
  color: #1a1a1a;
  font-size: 12px;
  font-weight: 600;
}
.m-detail-para {
  margin-top: 35px;
}
.proff-edu .sec-title,
.team-grid .sec-title {
  font-size: 30px;
}
.edu {
  margin-top: 30px;
}
.edu h4 {
  color: #00a0ad;
  font-size: 18px;
}
.edu h5 {
  margin: 12px 0 15px;
}
.team-grid .members {
  margin-top: 30px;
}

/*--------------------------------------
 nobis-pagination
---------------------------------------*/
.nobis-pagination {
  text-align: center;
  margin-top: 60px;
}
.pagination-item {
  width: 30px;
  height: 30px;
  background-color: #d7d7d7;
  display: inline-block;
  padding-top: 8px;
  color: #1a1a1a;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 7px;
}
.pagination-item.active,
.pagination-item:hover {
  background-color: #00a0ad;
  color: #fff;
}
.page-next a,
.page-prev a {
  width: 65px;
  height: 36px;
  background-color: #00a0ad;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  padding-top: 7px;
  text-transform: capitalize;
  margin-top: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-prev {
  text-align: left;
}
.page-prev a {
  border-radius: 50px 0 0 50px;
}
.page-next {
  text-align: right;
}
.page-next a {
  border-radius: 0 50px 50px 0;
}
.page-prev a:hover,
.page-next a:hover {
  background-color: #d7d7d7;
  color: #1a1a1a;
}

/*--------------------------------------
 widgets
---------------------------------------*/
.widget {
  margin-bottom: 60px;
  margin-top: 30px;
}
.widget:last-child {
  margin-bottom: 0;
}
.widget-items {
  padding: 0 30px;
}
.side-form {
  position: relative;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.side-form .form-control {
  padding: 10px;
  height: 50px;
  border: 0;
  color: #1a1a1a;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 1;
}
.side-form button {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #00a0ad;
  color: #fff;
  outline: 0;
  border: 0;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  padding-top: 3px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.side-form button:hover {
  opacity: 0.7;
}
.widget .all-title {
  width: 100%;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  border-radius: 10px;
}
.widget .sec-title {
  font-size: 25px;
  padding: 0 15px;
}
.widget .sec-title span::after,
.widget .sec-title span::before {
  top: 10px;
}
.widget .sec-title::after,
.widget .sec-title::before {
  top: 16px;
}
.blog-category {
  padding-top: 25px;
  position: relative;
}
.blog-category a {
  color: #1a1a1a;
  display: inline-block;
  text-transform: capitalize;
  background-color: #fff;
  padding-right: 8px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog-category a:hover {
  color: #00a0ad;
}
.blog-category a span {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding-left: 8px;
}
.blog-category::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 2px;
  width: 100%;
  left: 0;
  bottom: 7px;
  z-index: -1;
  background-color: #d7d7d7;
}
.widget-slider {
  margin-top: 30px;
}
.w-slide img {
  border-radius: 10px;
}
.w-slide-content h5 {
  font-size: 14px;
  color: #00a0ad;
  margin: 15px 0 12px;
}
.w-slide-content h6 {
  color: #1a1a1a;
  font-size: 18px;
  margin-bottom: 15px;
}
.widget-slider .owl-nav .owl-next,
.widget-slider .owl-nav .owl-prev {
  width: 40px;
  padding: 5px 0 2px;
  background-color: #00a0ad;
  margin: 0 7px;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.widget-slider .owl-nav .owl-next:hover,
.widget-slider .owl-nav .owl-prev:hover {
  background-color: #1a1a1a;
}
.widget-slider .owl-nav .owl-prev {
  border-radius: 50px 0 0 50px;
}
.widget-slider .owl-nav .owl-next {
  border-radius: 0 50px 50px 0;
}
.widget-tags {
  margin-top: 10px;
}
.tag {
  background-color: #f0f5fd;
  color: #1a1a1a;
  margin: 4px;
  margin-top: 20px;
  display: inline-block;
  padding: 6px 10px 4px;
  border-radius: 50px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tag:hover {
  background-color: #00a0ad;
  color: #fff;
}
.widget-meta {
  margin-top: 20px;
}
.widget-meta a {
  color: #1a1a1a;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #d7d7d7;
}
.widget-meta a:last-child {
  border-bottom: 0;
}
.widget-meta a:hover {
  color: #0c65ed;
}

.widget-archie {
  margin-top: 5px;
}
.widget-archie li {
  padding-top: 25px;
  position: relative;
  color: #1a1a1a;
  text-transform: capitalize;
}
.widget-archie li a {
  color: #1a1a1a;
  display: inline-block;
  text-transform: capitalize;
  background-color: #fff;
  padding-right: 8px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.widget-archie a:hover {
  color: #00a0ad;
}
.widget-archie a span {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding-left: 8px;
}
.widget-archie li::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 2px;
  width: 100%;
  left: 0;
  bottom: 7px;
  z-index: -1;
  background-color: #d7d7d7;
}

/*--------------------------------------
 blog-detail-page
---------------------------------------*/
.blog-detail {
  padding: 0 20px;
}
.b-det-img {
  position: relative;
}
.b-det-img img {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}
.det-meta {
  padding: 10px 0 13px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
  position: relative;
}
.det-meta a {
  color: #858585;
  font-size: 12px;
  padding-right: 20px;
  margin-right: 15px;
  text-transform: capitalize;
  border-right: 1px solid #858585;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}
.det-meta i {
  margin-right: 5px;
}
.det-meta a:hover {
  color: #00a0ad;
}
.det-meta a:last-child {
  border-right: 0;
}
.det-content h3 {
  font-size: 22px;
  margin: 30px 0 16px;
  color: #1a1a1a;
}
.det-content p {
  margin-bottom: 25px;
}
.box-letter::first-letter {
  font-size: 55px;
  line-height: 45px;
  float: left;
  color: #00a0ad;
  font-weight: 600;
  margin-right: 5px;
}
.blog-detail blockquote {
  padding: 30px;
  -webkit-box-shadow: 0 0 51px 0 rgba(67, 67, 67, 0.15);
  box-shadow: 0 0 51px 0 rgba(67, 67, 67, 0.15);
  border-left: 4px solid #0c65ed;
  margin-bottom: 30px;
}

.blog-detail blockquote p {
  font-size: 18px;
  position: relative;
  color: #1a1a1a;
  line-height: 30px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

.det-list li {
  position: relative;
  margin-bottom: 18px;
  padding-left: 15px;
}
.det-list li:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  left: 0;
  top: 10px;
  background-color: #00a0ad;
}
.det-list img {
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}
.blog-tags .title {
  text-transform: capitalize;
  color: #1a1a1a;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
}
.blog-tags .tag {
  margin-top: 0;
  margin-bottom: 0;
}
.blog-tags {
  padding: 18px 0;
  border-bottom: 1px solid #d7d7d7;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog-det-social {
  width: 25px;
  height: 25px;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  color: #1a1a1a;
  padding-top: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 2px;
}
.blog-det-social:hover {
  opacity: 0.8;
  color: #fff;
  background-color: #00a0ad;
}
.blog-nav a {
  background-color: #0c65ed;
  display: inline-block;
  padding-top: 7px;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  width: 50px;
  height: 30px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog-nav a:hover {
  background-color: #1a1a1a;
}
.blog-prev {
  float: left;
  border-radius: 50px 0 0 50px;
}
.blog-next {
  float: right;
  width: 40px;
  border-radius: 0 50px 50px 0;
}
.author-section {
  margin: 60px 0;
}
.author-post {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 51px 0 rgba(67, 67, 67, 0.15);
  box-shadow: 0 0 51px 0 rgba(67, 67, 67, 0.15);
}
.aut-img {
  display: table-cell;
  vertical-align: top;
  width: 96px;
}
.aut-img img {
  border-radius: 200px;
  border: 3px solid #d7d7d7;
}
.aut-content {
  display: table-cell;
  vertical-align: top;
  padding-left: 20px;
}
.aut-content p {
  margin-top: 15px;
}
.aut-social {
  position: absolute;
  right: 30px;
  top: 30px;
}
.aut-social a {
  font-size: 16px;
  padding: 0 5px;
  color: #1a1a1a;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.aut-social a:hover {
  color: #00a0ad;
}
.blog-detail .sec-title {
  font-size: 18px;
  padding-left: 0;
  padding-right: 16px;
}
.blog-detail .all-title {
  text-align: left;
}
.blog-detail .sec-title span::after,
.blog-detail .sec-title::after {
  display: none;
}
.blog-detail .sec-title span::before {
  top: 5px;
}
.blog-detail .sec-title:before {
  top: 10px;
}

.comment-inner {
  padding: 30px;
  position: relative;
  margin: 30px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 51px 0 rgba(67, 67, 67, 0.15);
  box-shadow: 0 0 51px 0 rgba(67, 67, 67, 0.15);
}
.com-img {
  width: 80px;
  height: 80px;
  display: table-cell;
  vertical-align: top;
}
.com-img img {
  border-radius: 200px;
}
.comm-content {
  display: table-cell;
  vertical-align: top;
  padding-left: 20px;
}
.comm-content p {
  margin-top: 15px;
}
.comm-content span {
  color: #00a0ad;
  font-size: 13px;
  display: inline-block;
  margin-left: 20px;
}
.reply {
  position: absolute;
  top: 30px;
  right: 30px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 12px;
  color: #1a1a1a;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.reply:hover {
  color: #00a0ad;
}
.reply i {
  margin-right: 5px;
}
.sub-comm {
  margin-left: 80px;
}
.form-wrap {
  position: relative;
}
.form-wrap i {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 17px;
  color: #1a1a1a;
}
.blog-comment-form {
  margin-top: 60px;
}
.comment-form .form-control {
  margin-top: 30px;
  border: 0;
  border-bottom: 1px solid #1a1a1a;
  text-transform: capitalize;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.comment-form .form-control:hover,
.comment-form .form-control:focus {
  border-color: #00a0ad;
}
.form-wrap .form-control {
  padding-left: 35px;
}
.comment-form .btn-custom {
  margin-top: 30px;
  background-color: #00a0ad;
  color: #fff;
  padding: 13px 22px 11px;
  font-size: 18px;
}
.comment-form .btn-custom:hover {
  background-color: #1a1a1a;
}

/*--------------------------------------
 portfolio detail page
---------------------------------------*/
.project-slide img {
  border-radius: 7px;
}
.project-thumb {
  margin-bottom: 10px;
}
.project-thumb img {
  border-radius: 5px;
}
.project-box {
  margin: 80px 0 80px;
  position: relative;
}
.project-box ul {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 51px 0 rgba(67, 67, 67, 0.15);
  box-shadow: 0 0 51px 0 rgba(67, 67, 67, 0.15);
  padding: 38px 0;
}
.project-box li {
  width: 20%;
  float: left;
  text-align: center;
  padding: 0 10px;
}
.project-box h5 {
  color: #00a0ad;
  margin-bottom: 5px;
}
.project-box p {
  color: #1a1a1a;
}
.project-box span {
  display: block;
  font-size: 14px;
}
.project-box .socials a {
  height: 26px;
  width: 26px;
  color: #1a1a1a;
  display: inline-block;
  margin-top: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-top: 4px;
  border-radius: 2px;
  font-size: 16px;
}
.project-box .socials a:hover {
  background-color: #00a0ad;
  color: #fff;
}
.project-box .btn-custom {
  background-color: #00a0ad;
  color: #fff;
  padding: 12px 13px 9px;
  margin-top: 18px;
}
.project-box .btn-custom:hover {
  background-color: #00a0ad;
}
.description {
  margin-bottom: 80px;
}
.project-detail .sec-title {
  font-size: 30px;
}

.description .content li {
  position: relative;
  margin-bottom: 18px;
  padding-left: 13px;
}
.description .content li:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  left: 0;
  top: 10px;
  background-color: #1a1a1a;
}
.description .content p {
  color: #666666;
}

/*--------------------------------------
 map
---------------------------------------*/
.map {
  height: 450px;
}

/*--------------------------------------
  contact us
---------------------------------------*/
.con-info {
  text-align: center;
  padding: 0 10px;
  margin-top: 30px;
}
.con-info i {
  width: 65px;
  height: 65px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  display: block;
  font-size: 35px;
  color: #00a0ad;
  padding-top: 13px;
  -webkit-box-shadow: 0 0 50px 0 rgba(67, 67, 67, 0.25);
  box-shadow: 0 0 50px 0 rgba(67, 67, 67, 0.25);
}
.con-info h5 {
  margin: 25px 0 12px;
}
/*--------------------------------------
  page 404
---------------------------------------*/
.page404 {
  background-image: url("../img/home/not-f-bg.jpg");
  background-size: cover;
  padding: 150px 0;
  text-align: center;
}
.page404 h2 {
  font-size: 40px;
  font-weight: 700;
  color: #1a1a1a;
  margin: 20px 0 10px;
}
.search-form {
  position: relative;
  max-width: 370px;
  margin: 30px auto;
}
.search-form button {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #00a0ad;
  color: #fff;
  outline: 0;
  border: 0;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  padding-top: 3px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.search-form .form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #0c65ed;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 45px;
}
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #1a1a1a;
}
.page404 .btn-custom {
  background-color: #00a0ad;
  color: #fff;
  padding: 11px 30px 10px;
  display: inline-block;
  margin-top: 20px;
}
.page404 .btn-custom:hover {
  background-color: #1a1a1a;
}
